<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load web_tags %}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block page_title %}Knowell Careers{% endblock %}</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        
        {% block css %}
            <link href="/media/css/styles.css" rel="stylesheet" type="text/css" media="screen" />
            <link href="/media/css/styling.css" rel="stylesheet" type="text/css" media="screen" />
            <link href="/media/css/common.css" rel="stylesheet" type="text/css" media="screen" />
        {% endblock %}

        {% block js %}
            <script type="text/javascript" src="/media/js/jquery-1.4.3.min.js" charset="utf-8"></script>
        {% endblock %}
    </head>

    <body background="/media/images/blue-background-hd-i12.jpg">
        <div id="back">
            <div id="footer_bg">
                <div id="content" style="background-color:#FFF;height:100%;">
                    <table>
                	    <tr>
                    	    <td class="headercontent">
                                <Table>
                                    <tr>
                                        <td align="center">
                                            <div class="mainlogo">
                                                {% block header_logo %}
                                                    {% render_logo request %}
                                                {% endblock %}
                                            </div>
                                        </td>
                                        <td class="mainheader">
                                            <div class="mainheadertext" align="center">{% block content_page_title %}{% endblock %}</div>
                                        </td>
                                    </tr>
                                </Table>
                            </td>
                        </tr>
                  	    <tr>
                    	    <td class="maincontent" valign="top">
                        	    <div class="maincontentdiv">
                                    <table border="0">
                                        <tr>
                                            <td align="center" valign="top">
                                                {% block content_page_description %}{% endblock %}
                                            </td>
                                            <td class="centercontent" valign="top">
                                        	    <table>
                                            	    <tr>
                                                	    <td>
                                                            {% block content %}
                                                            {% endblock %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                	    <td>
                                                    	    {% block footer %}
                                                                {% include "web/footer.html" %}
                                                            {% endblock %}
                                                        </td>	
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
						    </td>
                        </tr>
                    </table>                           
                </div>
            </div>
        </div>
    </body>
    {% block script_footer %}
    {% endblock %}
</html>
