{% load web_tags %}
<div class="centertimer" align="center">
    <table>
        <tr>
            <td class="leftimage" align="center">
                <a href="{{prev|default:"/"}}"><img src="/media/images/back.png" width="110px" /></a>
            </td>
            <td class="timerimage">
                
            </td>
            <td class="rightimage" align="center">
                <a href="{{next|default:"/"}}"><img src="/media/images/Next.png" width="110px" /></a>
            </td>
        </tr>
    </table>
</div>
