<div class="centertimer" align="center">
    <table>
        <tr>
            <td class="leftimage" align="center">
                <a href="index.html"><img src="/media/images/back.png" width="110px" /></a>
            </td>
            <td class="timerimage">
                
            </td>
            <td class="rightimage" align="center">
                <a href="Studentregpage.html"><img src="/media/images/Next.png" width="110px" /></a>
            </td>
        </tr>
    </table>
</div>
