<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>::Welcome::</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="/media/css/styles.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="/media/css/styling.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="/media/css/nivo-slider.css" rel="stylesheet"  type="text/css" media="screen" />
    </head>
    <body >
         <div align="center" >
                    <!-- header begins -->
            <table align="center" border="0" style="border:groove 3px #036; width:800px; height:500px; vertical-align:middle; margin-top:50px;" >
            	<tr>
                	<td>
                    	<img src="/media/images/index/stick_figure_working_laptop_desk.gif" width="300" />
                    </td>
                    <td>
                    	<table style="background:url(/media/images/index/1325Q342aJ60-422S.jpg)">
                        	<tr>
                            	<td>
                                	<img src="/media/images/index/Knowell - Light Background.png" width="500px" />
                                </td>
                            </tr>
                            <tr>
                            	<td height="30px;">
                                </td>
                            </tr>
                            <tr>
                            	<td align="center" class="indexproceed">
                                	<a href="/welcome/"><img src="/media/images/index/proceed-button[1].png" width="150px" /></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
            </table>
        </div>
    </body>
</html>
